*{
color: #555555;
}

table,
tr,
th,
td {
    border: 2px solid #555555;
    /* border-bottom: 2px solid #c4c4c4; */
    padding: 1rem;
}

h2 {
    margin-top: 25px;
    margin-bottom: 25px;
}
hr{
    display: block;
}

.container {
    background: #cacaca;
    padding: 20px;
    margin-top: 2rem;
    margin-bottom: 6rem;
    border-radius: 12px;
    box-shadow: 2px 3px 12px #8d8d8d;
}
